{namespace vh=In2code\Powermail\ViewHelpers}
{namespace plupload=FelixNagel\Pluploadfe\ViewHelpers}
{namespace pluploadPowermail=FelixNagel\PluploadfePowermail\ViewHelpers}

<div class="powermail_fieldwrap powermail_fieldwrap_type_pluploadfe powermail_fieldwrap_{field.marker} {field.css} {settings.styles.framework.fieldAndLabelWrappingClasses}">
	<f:render partial="Form/FieldLabel" arguments="{_all}" />

	<div class="{settings.styles.framework.fieldWrappingClasses}">
        <plupload:render
            configUid="{pluploadPowermail:getConfigurationUid(uid: field.uid)}"
            uid="powermail_{field.uid}"
            settings="{settings.pluploadfe.rendering}" />

        <f:if condition="{vh:misc.prefillField(field:field, mail:mail)}">
            <ul class="powermail_fieldwrap_file_list">
                <f:for each="{vh:misc.prefillField(field:field, mail:mail)}" as="file">
                    <li>
                        <span class="fileName">{file}</span>
                    </li>
                </f:for>
            </ul>
        </f:if>
	</div>
</div>
